@font-face {
  font-family: "khandevane";
  src: url(/fonts/khandevane/Khandevane__p30download.com.ttf);
}

@font-face {
  font-family: "Vazir";
  src: url(/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff);
}

@font-face {
  font-family: "IranSans";
  src: url(/fonts/A-Iranian-Sans/Iranian\ Sans.ttf);
}

:root {
  --backgroundDefault: #ffff;
  --Warning: #ff3333;
  --txtDefaultColor: #ffff;
  --textColor: #000000;
  --secondText: #7a7a7a;
  --fourthText: #ff33c2;
  --thirdText: #338bff;
  --pending: #e9e9e9;
  --border: #d0c6c6;
  --boxShadow: 2px 2px 2px 1px rgba(0, 0, 0, 10%);
  --titleFont: "khandevane";
  --txtFont: "Vazir";
  --titleSize: 15pt;
  /* grdSection */
  --grdSecondWarning: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(104, 21, 21, 1) 0%,
    rgba(225, 45, 45, 1) 86%,
    rgba(225, 45, 45, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );

  --grdAccept: linear-gradient(
    360deg,
    rgba(39, 28, 227, 0) 0%,
    rgba(137, 255, 124, 1) 100%
  );

  --grdSecondAccept: linear-gradient(
    180deg,
    rgba(39, 28, 227, 0) 0%,
    rgb(73 242 54 / 94%) 100%
  );

  --grdSelect: linear-gradient(
    180deg,
    rgba(95, 248, 67, 1) -13%,
    rgba(80, 223, 132, 1) 52%,
    rgb(54 178 244 / 85%) 122%
  );

  --grdUnselect: linear-gradient(
    180deg,
    rgba(255, 158, 51, 1) 0%,
    rgba(255, 91, 51, 1) 50%
  );

  --grdLightPurpule: linear-gradient(
    180deg,
    rgba(229, 51, 255, 1) 0%,
    rgba(167, 51, 255, 1) 100%
  );

  --grdLightPink: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 51, 51, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  --grdCity: linear-gradient(
    180deg,
    rgba(39, 28, 227, 0) 0%,
    rgba(96, 164, 253, 1) 100%
  );

  --grdSoftRed: linear-gradient(
    360deg,
    rgba(39, 28, 227, 0) 0%,
    rgba(255, 195, 195, 1) 100%
  );

  --grdHardBlue: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(45, 123, 225, 1) 0%,
    rgba(44, 123, 225, 1) 14.000000000000002%,
    rgba(20, 57, 103, 1) 79%
  );

  --ligthShadow: linear-gradient(
    360deg,
    rgba(39, 28, 227, 0) 0%,
    rgba(255, 255, 255, 0.648424) 100%
  );

  --grdLigthGray: linear-gradient(
    0deg,
    rgb(137 137 137 / 0%) 0%,
    rgb(215 215 215) 208%
  );

  --grdSecondDisabled: linear-gradient(
    180deg,
    rgba(39, 28, 227, 0) 0%,
    rgba(0, 0, 0, 0.7148109243697479) 100%
  );

  --grdChoose: linear-gradient(
    180deg,
    rgb(110 208 80) 0%,
    rgba(140, 255, 61, 1) 25%,
    rgb(190 255 73) 50%
  );

  --grdShadowText: linear-gradient(
    0deg,
    rgb(137 137 137 / 21%) 0%,
    rgb(215 215 215) 208%
  );

  --grdShadowTop: linear-gradient(to bottom, #0000001c, #0000);
  --grdDie: linear-gradient(to bottom, #00000000, #ff0000c4);
}

body {
  display: flow-root;
  height: 100%;
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

::-webkit-input-placeholder {
  font-family: var(--txtFont);
}

.container {
  display: flow-root;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.ViewHide {
  display: none !important;
}

input {
  display: inline-block;
  width: calc(100% - 50px);
  vertical-align: top;
  border: 1px solid var(--border);
  text-align: right;
  padding: 11px;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
}

backWard {
  display: flow-root;
  width: 100%;
  height: 100%;
  background-color: #0000009e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

backWard parent {
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgb(212 212 212) 0%,
    rgb(159 159 159) 100%
  );
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
  min-height: 170px;
  border-radius: 20px;
}

backWard parent .close {
  background: var(--Warning);
  width: 29px;
  height: 29px;
  float: right;
  margin-top: -22px;
  margin-right: -17px;
}

backWard parent .close::after {
  -webkit-mask-size: 14px;
  margin-top: 0;
}

backWard m-content {
  display: flow-root;
  background-color: var(--backgroundDefault);
  font-family: var(--txtFont);
  height: 140px;
  border-radius: 15px;
}

backWard m-content h1 {
  display: flow-root;
  color: var(--secondText);
  font-size: 15pt;
  margin: 22px auto 30px;
  text-align: center;
}

backward m-content span {
  display: inline-block;
  background: var(--Warning);
  padding: 7px 10px;
  border-radius: 10px;
  color: var(--backgroundDefault);
  font-size: 10pt;
  cursor: pointer;
  margin-left: 10px;
}

/* color */

.warning {
  color: var(--Warning);
}

.cityTitle {
  color: var(--thirdText);
}

.mafiaTitle {
  color: var(--Warning);
}

.bgMafia {
  background-color: var(--Warning);
}

.bgCity {
  background-color: var(--thirdText);
}

.mafia {
  background: var(--grdDie);
}

.city {
  background: var(--grdCity);
}

.softRed {
  background: var(--grdSoftRed);
}

.accept {
  background: var(--grdAccept);
}

.secondAccept {
  background: var(--grdSecondAccept);
}

.pending {
  background-color: var(--pending);
}

.disabled {
  filter: grayscale(1);
}

/* End Color */

/* Condiotion */

/* .bgDisabled::after {
  content: "";
  display: flow-root;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #7a7a7a7d;
  top: 0;
  z-index: 100;
  left: 0;
} */

/* .Disabled {
  background-color: #7a7a7a !important;
} */

.titleDisabled {
  color: #7a7a7a;
}

.mafiaDie::before,
.mafiaDie::after {
  content: "";
  display: flow-root;
  width: 100%;
  height: 100%;
  background-image: url(../images/MafiaGroups/Die.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -11px;
  left: 0;
  z-index: 200;
}

/* EndCondition */

/* Icon */
.btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 7px;
  overflow: hidden;
  font-family: var(--titleFont);
  font-size: var(--titleSize);
  cursor: pointer;
  border: 1px solid var(--border);
}

.btn a {
  display: flow-root;
  margin-top: 5px;
}

.ico::after {
  content: "";
  display: flow-root;
  width: 30px;
  height: 30px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 22px;
  background-color: var(--backgroundDefault);
  margin: 5px auto 0;
  cursor: pointer;
}

.setting::after {
  -webkit-mask-image: url(../Icons/setting.png);
}

.paly::after {
  -webkit-mask-image: url(../Icons/nextPlay.png);
}

.voice::after {
  -webkit-mask-image: url(../Icons/Voice.png);
}

.tick::after {
  -webkit-mask-image: url(../Icons/tick.png);
}

.show::after {
  -webkit-mask-image: url(../Icons/Show.png);
}

.close::after {
  -webkit-mask-image: url(../Icons/exit.png);
}

.arrow::after {
  -webkit-mask-image: url(../Icons/next.png);
}

.add::after {
  -webkit-mask-image: url(../Icons/pluse.png);
}

.agree::after {
  -webkit-mask-image: url(../Icons/tick.png);
}

.disAgree::after {
  -webkit-mask-image: url(../Icons/recycle.png);
}

.moon::after{
  -webkit-mask-image: url(../Icons/Moon.png);
}

/* EndIcon */

.conatiner {
  display: flow-root;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Card */

.cardCaracter {
  display: inline-block;
  width: 80px;
  height: 147px;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  border: 1px solid var(--border);
  position: relative;
  cursor: pointer;
}

.cardCaracter::before {
  content: "";
  display: flow-root;
  width: 100%;
  height: 200px;
  background: linear-gradient(
    180deg,
    rgba(15, 155, 161, 0) 0%,
    rgb(0 0 0 / 13%) 100%
  );
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0 0 10px 10px;
  scale: 0.95;
}

.imageBox {
  display: flow-root;
  width: 100%;
  position: relative;
  margin: 30px auto 0;
}

/* image */

.imageBox::before {
  content: "";
  display: flow-root;
  width: 100%;
  height: 150px;
  -webkit-mask-image: url(../images/shield.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
}

.mafiaShield::before {
  background: var(--grdSecondWarning);
}

.cityShield::before {
  background: var(--grdHardBlue);
}

.disabledShiel::before {
  background: #00000069;
}

.DcBeat::after {
  content: "";
  display: flow-root;
  width: 120px;
  height: 100px;
  position: absolute;
  background-image: url(../images/CityGroups/DcBeat.png);
  background-size: 109px;
  background-repeat: no-repeat;
  top: 64%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.imageBox div {
  display: flow-root;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.imageBox div::before {
  content: "";
  display: flow-root;
  width: 92%;
  height: 125px;
  -webkit-mask-image: url(../images/MafiaGroups/shadowShiled.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  background: linear-gradient(
    180deg,
    rgba(15, 155, 161, 0) 26%,
    rgba(0, 0, 0, 0.378396) 97%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 0.95;
  transform: translate(-53%, -50%);
}

/* EndImage */

.nameBox {
  display: flow-root;
  width: 100%;
  height: 24px;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.nameBox::before {
  content: "";
  display: flow-root;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgba(15, 155, 161, 0) 0%,
    rgba(0, 0, 0, 0.578396) 166%
  );
  position: absolute;
  bottom: 0;
}

.title {
  display: inline-block;
  font-family: var(--titleFont);
  font-size: 11pt;
  margin: -3px 0;
  text-align: center;
}

/* endImage */

/* SmallCard */

.smallCard {
  display: inline-block;
  width: 100%;
  position: relative;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.ImageParent {
  display: inline-block;
  width: 100%;
  height: 87px;
  position: relative;
}

.ImageParent.ligthShadow::before {
  top: -5px;
}

.caracterName {
  display: flow-root;
  width: 100%;
  text-align: center;
  background-color: var(--Warning);
  color: var(--txtDefaultColor);
  margin-top: -24px;
  position: relative;
  z-index: 100;
}

.caracterName .title {
  font-size: 12pt;
  padding: 4px 0px;
}

.ligthShadow {
  position: relative;
}

.ligthShadow::after {
  content: "";
  display: flow-root;
  width: calc(100% - 16px);
  height: 35px;
  background: var(--ligthShadow);
  position: absolute;
  top: 4px;
  left: 50%;
  border-radius: 6px;
  z-index: 100;
  opacity: 0.7;
  cursor: pointer;
  translate: -50%;
}

.ligthShadow::before {
  content: "";
  display: flow-root;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: var(--ligthShadow);
  left: 1px;
  z-index: 90;
  top: 0px;
  opacity: 0.65;
}

.gameOver::before {
  content: "";
  display: flow-root;
  width: 100%;
  height: 100%;
  background-image: url(../images/MafiaGroups/Delete.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  z-index: 100;
  mix-blend-mode: color-dodge;
}

/*End SmallCard */

.panelSetting {
  display: inline-block;
  position: absolute;
  bottom: 145px;
  left: 45px;
  border-radius: 12px;
  cursor: pointer;
}

.panelSetting .btn {
  background: var(--grdLightPurpule);
  border: 1px solid #545454;
}
.start,
.exit {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.panelEvent .btn {
  width: 100px;
  color: var(--backgroundDefault);
}

.exit .btn {
  background: var(--grdUnselect);
}

.start .btn {
  background: var(--grdSelect);
  margin-left: 5px;
}

.panelEvent {
  position: absolute;
  left: 150px;
  bottom: 28px;
}

.chooseCaracter {
  display: flow-root;
  width: 1240px;
  margin: 25px auto 0;
  padding: 0px 20px 20px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgb(212 212 212) 0%,
    rgb(159 159 159) 100%
  );
  border: 1px solid var(--secondText);
}

.chooseCaracter .headTitle {
  width: 100%;
  margin: 8px 0px;
  position: relative;
}

.chooseCaracter .headTitle.ligthShadow::after {
  background: var(--grdShadowText);
  scale: 1;
  border-radius: 12px;
}

.chooseCaracter .headTitle.ligthShadow::before {
  background: unset;
}

:is(.chooseCaracter .title) :is(h1, h2) {
  display: inline-block;
}

.chooseCaracter .headTitle h2 {
  color: var(--fourthText);
  font-size: 27pt;
}

.chooseCaracter section {
  display: flow-root;
  margin: 0 auto;
  background-color: var(--backgroundDefault);
  padding: 10px;
  min-height: 500px;
  border-radius: 15px;
}

.chooseCaracter ability {
  display: inline-block;
  width: 340px;
  float: right;
  text-align: center;
  height: 100%;
  background: var(--grdLigthGray);
  border-radius: 15px;
  position: relative;
}

.chooseCaracter ability .ligthShadow::after {
  height: 60%;
  scale: 0.93;
}

.chooseCaracter ability .imageParent {
  display: inline-block;
  width: 210px;
  margin-top: 30px;
}

.chooseCaracter ability .box {
  display: flow-root;
  width: 100%;
  text-align: right;
  padding: 0 8px;
  box-sizing: border-box;
}

.chooseCaracter ability .box div {
  display: flex;
  gap: 5px;
  float: left;
  margin-top: 12px;
}

.chooseCaracter ability .box div span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--backgroundDefault);
  text-align: center;
  font-size: 13pt;
  font-family: var(--txtFont);
}

.chooseCaracter ability .box div span a {
  display: flow-root;
  margin-top: 4px;
}

.chooseCaracter ability .box div span.nigth {
  display: flow-root;
  width: 30px;
  height: 30px;
  background-image: url(../Icons/Night.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.chooseCaracter ability .description {
  display: flow-root;
  font-family: var(--txtFont);
  text-align: right;
  padding: 8px;
}

.box name .warning {
  font-size: 27pt;
}

.smallCaracter,
.mainCaracter {
  display: flow-root;
  position: relative;
  padding-top: 12px;
}

.mainCaracter {
  margin-top: 20px;
}

.smallCaracter.ligthShadow::after {
  width: calc(100% - 20px);
  height: 55px;
  scale: 1;
  background: var(--grdLigthGray);
  border-radius: 12px;
}

interduce .smallCaracter .parent {
  display: inline-block;
  width: 84px;
  height: 115px;
  border-radius: 11px;
  border: 1px solid var(--border);
  cursor: pointer;
  text-align: center;
  font-family: var(--titleFont);
  overflow: hidden;
  position: relative;
  margin-left: 10px;
}

interduce .smallCaracter .parent span.ligthShadow {
  display: flow-root;
  padding: 0 0px;
  color: var(--secondText);
  font-family: "Vazir";
  font-size: 10pt;
}

interduce .smallCaracter .parent span.ligthShadow::after {
  scale: 0.95;
  top: 3px;
  height: 30px;
  background: var(--grdLigthGray);
}

interduce .mainCaracter.ligthShadow::after {
  width: calc(100% - 20px);
  height: 100px;
  scale: 1;
  background: var(--grdLigthGray);
  border-radius: 12px;
}

interduce .mainCaracter .cardCaracter {
  margin-left: 10px;
}

next .btn {
  background: var(--grdSelect);
}

.arrowBtn prev .btn {
  background: var(--grdUnselect);
}

.arrowBtn prev .btn.arrow::after {
  transform: rotate(180deg);
}

.arrowBtn {
  display: flex;
  width: 100%;
  margin: 15px 0 0 0;
  justify-content: space-between;
  cursor: pointer;
}

/* addPlayer */

.managePlayer {
  display: inline-block;
  width: calc(50% - 10px);
  float: right;
}

.playerCondition .input input {
  width: 100%;
  border: unset;
}

.playerName.chooseCaracter {
  width: 800px;
}

.managePlayer .parent {
  display: flow-root;
  text-align: right;
  margin-bottom: 8px;
}

.managePlayer .parent add {
  float: left;
  position: relative;
}

.managePlayer .addPlayer input {
  background: #e6e6e65c;
}

.managePlayer .addPlayer .btn {
  background: var(--grdSelect);
}

.input.ligthShadow::after {
  background: linear-gradient(
    180deg,
    rgb(216 216 216 / 42%) 0%,
    rgb(229 229 229 / 0%) 100%
  );
  scale: 0.8;
  top: 2px;
  height: 28px;
  right: -25px;
}

.playerCondition {
  display: flex;
  border: 1px solid var(--border);
  border-radius: 8px;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  margin-bottom: 12px;
}

.playerCondition .input.ligthShadow::after {
  scale: 0.9;
  right: 0;
}

.playerCondition agree .btn {
  background: var(--grdChoose);
  float: right;
}

.playerCondition remove .btn {
  background: var(--grdUnselect);
  float: left;
}

.playerCondition .input {
  width: calc(100% - 90px);
  border: unset;
}

:is(.playerCondition) :is(agree, remove) {
  position: relative;
}

.Conductor {
  display: inline-block;
  width: calc(50% - 10px);
  position: relative;
}

conductor {
  display: flow-root;
  width: 300px;
  height: 350px;
  position: absolute;
  top: 194px;
}

.headTitleConductor {
  display: flow-root;
  height: 200px;
  background-image: url(../Icons/interduc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 292px;
  transform: rotate(2deg);
  margin-top: 17px;
  margin-right: 40px;
}

.headTitleConductor .txtBox {
  display: flow-root;
  width: 100%;
  transform: rotate(2deg);
  font-family: var(--txtFont);
  text-align: right;
  font-size: 9pt;
  margin-top: 10px;
  position: relative;
}

.headTitleConductor .txtBox.ligthShadow::after {
  background: linear-gradient(
    0deg,
    rgb(137 137 137 / 12%) 0%,
    rgb(215 215 215 / 0%) 208%
  );
  height: 90px;
}

.headTitleConductor p {
  display: block;
  width: calc(100% - 73px);
  margin: 0 0 0 34px;
  color: var(--secondText);
  line-height: 2;
  font-size: 9.5pt;
}

.headTitleConductor .boxTitle {
  display: flow-root;
  width: calc(100% - 30px);
  margin-top: 15px;
  font-family: var(--txtFont);
  color: var(--secondText);
  font-size: 12pt;
  font-weight: bold;
}

.headTitleConductor .boxTitle span:first-child {
  margin: 0 12px 0 0;
}

.friend {
  color: var(--fourthText);
}

.arrowBtn .exit .btn {
  width: 100px;
  color: var(--txtDefaultColor);
}

/* nigthCaracyer */

.nightCard {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 20px auto 0;
}

/* .nigthParent{
  height: 640px;
} */

.unknow {
  display: inline-block;
  width: 121px;
  height: 198px;
  /* background: linear-gradient(180deg, rgb(219 219 219) 100%, rgb(0 0 0) 100%); */
  background-color: var(--txtDefaultColor);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.selected::after {
  content: "";
  display: flow-root;
  width: 100px;
  height: 100px;
  -webkit-mask-image: url(../Icons/tick.png);
  -webkit-mask-size: 70px;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--grdChoose);
}

.unknowTitle {
  display: flow-root;
  text-align: center;
  font-family: var(--txtFont);
  color: var(--secondText);
}

.unknowTitle.ligthShadow::after {
  background: var(--grdLigthGray);
  opacity: 0.4;
  height: 30px;
}

.unknowTitle.ligthShadow::before {
  display: none;
}

.unknow .cardCaracter {
  margin-top: unset;
}

.unknow .imageBox div {
  width: 50%;
}

.parentBtns .conductor {
  display: flow-root;
  width: 100%;
  position: relative;
}

.parentBtns .conductor .aboutPlay {
  display: flow-root;
  background-image: url(../Icons/interduc.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 210px;
  position: absolute;
  top: -415px;
  right: 0;
}

.parentBtns .conductor .aboutPlay parent {
  display: flow-root;
  padding: 0 15px 0 0;
  transform: rotate(4deg);
  font-family: var(--txtFont);
  margin-top: -19px;
  font-size: 12pt;
}

.parentBtns .conductor .aboutPlay .txtTitle {
  display: flow-root;
  width: 100%;
  text-align: right;
}

.parentBtns .conductor .aboutPlay p {
  display: flow-root;
  width: 25%;
  float: right;
  color: var(--secondText);
  text-align: right;
}

next::before {
  content: "";
  display: flow-root;
  width: 210px;
  background-image: url(../images/conductor.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  height: 270px;
  position: absolute;
  left: -230px;
  top: -190px;
}

.backWardTitle.ligthShadow::after {
  scale: 1;
  z-index: -1;
  background: var(--grdShadowText);
}

.backWardTitle.ligthShadow::before {
  display: none;
}

.backWardTitle {
  text-align: center;
}

.backWardTitle span {
  font-size: 23pt;
  margin-bottom: 7px;
}

.btnElection {
  text-align: center;
}

/* ChooseCaracter */

.choosesCaracter .unknow .selectedCaracter {
  width: 100%;
}

.choosesCaracter .unknow .cardCaracter {
  border: unset;
}

.choosesCaracter .person,
.choosesCaracter .group {
  display: inline-block;
  vertical-align: top;
}

.choosesCaracter .group {
  width: calc(80% - 10px);
}

.choosesCaracter .person div:first-child {
  margin-top: 10px;
}

.choosesCaracter .person div {
  display: flow-root;
  width: 230px;
  padding: 10px 15px;
  text-align: right;
  border-radius: 14px;
  font-size: 15pt;
  margin-bottom: 15px;
  color: var(--backgroundDefault);
  font-family: var(--txtFont);
}

.person div.ligthShadow::after {
  top: 1px;
  height: 35px;
  scale: 0.95;
  border-radius: 14px;
}

.choosesCaracter .person div .personNaem {
  font-size: 10pt;
}

.choosesCaracter .person div.disable {
  background: #9b9b9b;
}

.exit .btn {
  width: 90px;
}

.exit .btn span {
  display: flow-root;
  margin-top: 5px;
  color: var(--backgroundDefault);
}

.btnParents{
  display: flex;
  justify-content: space-between;
}

.btnParents .nightBtns .btn {
  background: var(--grdSelect);
}

.counterGamer{
  display: inline-block;
  padding: 12px 20px;
  vertical-align: sub;
  border-radius: 12px;
  color: var(--backgroundDefault);
  font-family: var(--txtFont);
  overflow: hidden;
}

.counterGamer .counter{
  vertical-align: text-bottom;
}